Version.java

# ------------------------------------------------------------------------------
# Project ignore files
# ------------------------------------------------------------------------------
.gradle
build/
bin/
.vscode/
file-share.db
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

#-------------------------------------------------------------------------------
# Linux ignore files
#-------------------------------------------------------------------------------
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

#-------------------------------------------------------------------------------
# MacOS ignore files
#-------------------------------------------------------------------------------
#
# Default MacOS ignore list
*.DS_Store
.AppleDouble
.LSOverride
