<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="description" content="WebRTC file transfer">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
  <meta itemprop="description" content="File Transfer with WebRTC">
  <meta name="mobile-web-app-capable" content="yes">
  <meta id="theme-color" name="theme-color" content="#ffffff">
  <base target="_blank">
  <title>File Transfer - WebRTC</title>
</head>

<body>
<h1 id="page-title">File list</h1>
<ul id="file-list"></ul>
<script src="../static/file-list.js"></script>
</body>
</html>
